<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <!--数据库连接字符串-->
    <add name="Customers" connectionString="server=127.0.0.1; database=XXX; uid=sa; pwd=123"/>
  </connectionStrings>
  <appSettings>
    <add key="DbConfig" value="LambdaAndGeneric.DAL,LambdaAndGeneric.DAL.BaseDAL`1"/>
    <add key="Company" value="LambdaAndGeneric.DAL,LambdaAndGeneric.DAL.CompanyDAL"/>
    <add key="User" value="LambdaAndGeneric.DAL,LambdaAndGeneric.DAL.UserDAL"/>
  </appSettings>
</configuration>